body, html
{
    background-color:#222222;
    padding:0px;
    margin:1px;
    overflow:hidden; /* hide scroll bar */
}

.left_box
{
    float:left;
    width:490px;
}

.graphics
{
    padding-top:0px;
    padding-left:5px;
}

.rrdimage
{
    margin-top:0px;
    margin-bottom:5px;
    margin-left:0px;
    margin-right:10px;
    height:230px;
}

/* overlay covering rrdtool watermark */
.overlay
{
    position:relative; /* relative to image */
    top:-228px;
    left:475px;
    height:160px;
    width:15px;
    background-color:#222222;
}

/* average consumption values underneath consumption graph */
.con_av
{
    position:absolute;
    top:210px;
    left:90px;
}

#con_av_short, #con_av_medium, #con_av_long
{
    font-family:helvetica;
    line-height:22px;
    font-size:18px;
    color:#f00000;
}

/* average speed values underneath speed graph */
.speed_av
{
    position:absolute;
    top:445px;
    left:90px;
}

/* unit layout for values underneath speed graph*/
#av_unit
{
    font-family:helvetica;
    font-size:14px;
    color:#aaaaaa;
}

#speed_av_short, #speed_av_medium, #speed_av_long
{
    font-size:18px;
    color:#f00000;
}


.right_box
{
    float:right;
    width:285px;
}

.plain_values
{
    text-align:right;
    margin:10px;
}

#con_km
{
    font-family:helvetica;
    font-size:76px;
    line-height:82px;
    color:#f00000;
}

#con_km_unit
{
    font-family:helvetica;
    font-size:18px;
    color:#aaaaaa;
    padding-left:5px;    
}

#speed
{
    font-family:helvetica;
    font-size:76px;
    line-height:82px;
    color:#f00000;
}

#speed_unit
{
    font-family:helvetica;
    font-size:18px;
    color:#aaaaaa;
    padding-left:5px;
}

.other_values
{
    margin-top:20px;
}

#con_h, #rpm, #temp1, #temp2, #voltage
{
    font-family:helvetica;
    font-size:32px;
    line-height:38px;
    color:#f00000;
}

.other_unit
{
    font-family:helvetica;
    font-size:18px;
    color:#aaaaaa;
    padding-left:5px;    
}


.footer
{
    text-align:right;
    position:absolute;
    bottom:0px;
    right:0px;
    margin-right:15px;
    margin-bottom:5px;
}

#debug
{
    font-family:courier;
    font-size:18px;
    margin-top:15px;
    margin-right:0px;
    padding-right:10px;
    padding:0px;
    width:270px;
    height:22px;
    color:#ffffff;
    background-color:#444444;
}

#version
{
    vertical-align:bottom;
    margin-top:5px;
    color:#ffffff;
}
