@font-face {
	font-family:white-rabbit ;
    src:url( white-rabbit.ttf ) format("truetype");
}

body
{
    /* eeepc 900 screen dimensions */
    /*
    width:800px;
    height:480px;
     */

    /* eeepc 1000 screen dimensions */
    width:1024px;
    height:600px;

    padding:0px;
    margin:0px;
    background-color:#eeeeee;
    overflow:hidden; /* hide scroll bar */
}

#map {
  width:100%;
  height:100%;
  border:solid 2px #555555;
  z-index:0;
}

.graph {
    height:290px;
}

#graph-consumption {
    margin-left:7px;
    width:433px;
    margin-bottom:9px;
}

#graph-speed {
    width:440px;
}

.left-container {
    float:left;
    width:440px;
    height:580px;
    margin-top:9px;
    margin-left:5px;
    margin-right:15px;
    margin-bottom:10px;
    padding:0px;
}

.right-container {
    float:left;
    width:554px;
    height:580px;
    margin:10px;
    margin-left:0px;
    padding:0px;
}

.value-container {
    position:absolute;
    right:5px;
    z-index:99;
}

.value {
    width:170px;
    float:left;
    margin-bottom:10px;
    margin-right:5px;
    text-align:right;
    font-family:white-rabbit;
    clear:both;
}

.value-big { font-size:60px; height:50px; line-height:60px;}
.value-medium { font-size:34px; height:30px; line-height:34px; }
.value-small { font-size:22px; height:20px; line-height:22px; }


.unit {
    height:16px;
    float:left;
    width:40px;
    margin-left:5px;
    margin-bottom:10px;
    font-size:16px;
    line-height:16px;
    text-align:left;
    font-family:helvetica;
}

.unit-big { margin-top:34px }
.unit-medium { margin-top:14px }
.unit-small { margin-top:4px }
